* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.container-header {
  width: 100%;
  height: 3rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.menu-inner ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.add-to-cart-li {
  position: relative;
  width: 80px;
  text-align: end;
  padding: 2px 0;
}

.add-to-cart-li a:hover + .connector {
  display: block;
}
.add-to-cart-icon {
  height: 10px;
  justify-content: center;
}

.menu-inner ul li {
  margin: 0 10px;
  list-style: none;
}

.menu-inner ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}

/* isAdmin */
.user-profile {
  position: relative;
}

.bun-venit:hover {
  cursor: pointer;
}

.add-to-cart-li span {
  display: block;
}

.category-inner {
  display: block;
  position: absolute;
  width: 200px;
  left: -50px;
  padding-top: 1rem;
  text-align: center;
  background-color: transparent;
}
.bun-venit ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.bun-venit ul li {
  padding: 0.5rem;
}

/* .bun-venit ul {
  display: none;
} */
.bun-venit:hover ul {
  display: block;
}

.btn-logout {
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

.brand-logo {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .add-to-cart-li {
    position: relative;
    width: 14px;
    text-align: end;
  }
  .add-to-cart-li span {
    display: none;
    padding-bottom: 20px;
  }

  .add-to-cart-icon {
    height: 18px;
    justify-content: center;
  }
}
