# MongoDB
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/<dbname>?retryWrites=true&w=majority

# JWT
JWT_SECRET=replace_with_a_long_random_string_min_32_chars
JWT_EXPIRE=30d

# Server
NODE_ENV=production
PORT=5000

# CORS — URL-ul frontend-ului (fara slash la final)
CLIENT_URL=https://your-frontend.vercel.app
